<template name="headermobile">

    	<section id="page-wrapper">

        	<section id="menu-wrapper">

                <div id="menu-search">
                	<input id="menu-search-input-text" type="text" placeholder="Search..." />
					<input id="menu-search-input-submit" class="validSearch" type="submit" value="" />
                </div>

                <ul class="menu">

                {{#each getParent}}
                    <li id="a-submenu-{{_id}}" class="icon plus sousmenu">

                        <a href="/category/{{_id}}">
                            <span class="menu-li-title">{{title}}</span>
                           <img class="menu-li-arrow-submenu" src="img/icons/submenu.png" alt="" />
                        </a>

                        <ul id="submenu-{{_id}}" class="deroulant" style="display:none;">
                            {{#each getChildren _id}}
                                <li>
                                <a href="/category/{{_id}}">
                                    <span class="menu-li-title">{{title}}</span>
                                    <img class="menu-li-arrow" src="/img/icons/arrow-forward.png" alt="" />
                                </a>
                            </li>
                            {{/each}}
                            
                        </ul>

                    </li> 
                    
                    {{/each}}
                 
                </ul> <!-- .menu -->

            </section> <!-- #menu-wrapper -->

            <section id="sidebar-wrapper">
                <div class="widget">
                	<!--<h4>Contact widget</h4>-->

                    <ul>
                        <li class="item"><a href="#" id="price_range">Price Range</a>

                        </li>
                            <!--panel price range -->
                            <div class="panel_price_range">
                                <div class="row">
                                    <span class="pull-left">0 $</span><span class="pull-right">+1000 $</span>
                                </div>
                                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="5" data-slider-value="[0,1000]" id="sl2" >
                            </div>
                        <li class="item"><a href="#" id="brands">Brands</a></li>
                        <!-- panel brands -->
                            <div class="panel_brands">
                                <div class="row">
                                    <div class="col-xs-4"><h1>A</h1></div>
                                    <div class="col-xs-4">
                                        <h4>Brand</h4>
                                        <h4>Brand</h4>
                                    </div>
                                    <div class="col-xs-4">
                                        <h4>Brand</h4>
                                        <h4>Brand</h4>
                                        <h4>Brand</h4>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-xs-4"><h1>B</h1></div>
                                    <div class="col-xs-4">
                                        <h4>Brand</h4>
                                        <h4>Brand</h4>
                                    </div>
                                    <div class="col-xs-4">
                                        <h4>Brand</h4>
                                        <h4>Brand</h4>
                                        <h4>Brand</h4>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-xs-4"><h1>C</h1></div>
                                    <div class="col-xs-4">
                                        <h4>Brand</h4>
                                        <h4>Brand</h4>
                                    </div>
                                    <div class="col-xs-4">
                                        <h4>Brand</h4>
                                        <h4>Brand</h4>
                                        <h4>Brand</h4>
                                    </div>
                                </div>
                            </div>
                        <li class="item"><a href="#" id="advanced">Advanced</a></li>
                        <!--panel advanced-->
                        <div class="panel_advanced">
                            <ul>
                                <li><a href="">Ingredient Preference</a></li>
                                <li><a href="">Concern</a></li>
                                <li><a href="#" id="skin_type">Skin Type</a></li>
                                <div class="panel_skin_type">
                                    <div class="col-xs-6">
                                        <p>Brand</p>
                                        <p>Brand</p>
                                        <p>Brand</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>Brand</p>
                                        <p>Brand</p>
                                        <p>Brand</p>
                                    </div>
                                </div>
                                <li><a href="#" id="skin_type">Season</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>


            </section> <!-- #sidebar-wrapper -->

        	<section id="content-wrapper">

                <section id="header">

                    <div id="header-left">
                        <a href="#" id="a-menu"><img src="/img/icons/menu.png" alt="menu" /></a>
                        <a href="#" id="a-shoping"><img src="/img/icons/shoping-01.png" alt="menu" /></a>
                    </div>

                    <div id="header-title">
                        <h1><img src="/img/icons/logo-01.png" /></h1>
                    </div>

                    <div id="header-right">
                        <a href="#" id="a-sidebar">REFINE<!--<img src="/img/icons/menu.png" alt="Sidebar" />--></a>
                    </div>

                </section> <!-- #header -->
				
				<section id="refine_menu">
                    <div class="col-xs-12">
                        <div class="hold_refine">
                            <div class="row">
    					        <div class="col-xs-4"><a href="#" id="makeup" class="active">Makeup<span></span></a></div>
                                <div class="col-xs-4"><a href="">All Makeup<span></span></a></div>
                                <div class="col-xs-4"><a href="">Mascara ...</a></div>
                            </div>
                            <div id="panel_makeup">
                                <div class="row">
                                    <ul>
                                        <li><a href="">Nails</a></li>
                                        <li><a href="">Frangrance</a></li>
                                        <li><a href="">Skin care</a></li>
                                        <li><a href="#">Makeup</a>
                                            <div class="hold_sub_dropdown">
                                                <ul class="sub_dropdown">
                                                    <li><a href="">All Eye makeup</a></li>
                                                    <li><a href="">Eyeshadow Palettes & Eye Sets</a></li>
                                                    <li><a href="">Mascara</a></li>
                                                    <li><a href="">Eyeliner</a></li>
                                                    <li><a href="">Eyeshadow</a></li>
                                                    <li><a href="">Eyeshadow Primer & Base</a></li>
                                                    <li><a href="">Under Eye Concealer</a></li>
                                                    <li><a href="">Eyebrows</a></li>
                                                    <li><a href="">Eyeliner</a></li>
                                                    <li><a href="">Eyelash Enhancers & Primers</a></li>
                                                    <li><a href="">Eyelash Curlers</a></li>
                                                    <li><a href="">False Eyelashes</a></li>
                                                    <li><a href="">Eye Makeup Remover</a></li>
                                                    <li><a href="">Eye Brushes</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="">Bath & Body</a></li>
                                        <li><a href="">Hair</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
				</section> <!-- #refine menu -->
				
  {{>yield}}

              

            </section> <!-- #content-wrapper -->
    	</section> <!-- #page-wrapper -->
</template>