<template name="home">
  <style type="text/css">
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
  </style>
    
  <div style="padding-left:20px;padding-right:20px;">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {{#each getbanner}}
                <div  class="swiper-slide">
                  <a href="{{url}}">
                    <img  style="height:300px; width:400px;" class="img-responsive center-block" src="{{getImg imageId}}"/>
                  </a>      
                  

                </div>
            {{/each}}
        </div>
                      
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
  </div>
        
  <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 30,
        autoplay:5000
    });
  </script>     
 {{>list1}}
 {{>list2}}
 {{>list3}}



<section id="list3">
  {{#with list3}}
  <h2 class="home_products">{{title}}</h2>
  <ul class="slides">

    {{#each products}}
    {{#with getProduct this}}
    <li>
     <a href="{{pathFor 'details' id=_id}}"><img src="{{getImg image}}" class="img-circle img-responsive"  /> </a>
   </li>
   {{/with}}
   {{/each}}

 </ul>
 {{/with}} 
</section>

</template>