<template name="webzinedetails">
<style type="text/css">
.hidelike{
display: none;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
/ Center slide text vertically /
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
</style>

<section class="webzine">
<div class="container">
<div class="row">
<h2 class="text-center bold">{{title}}</h2>
		<div class="group">
		    <div class="right">
		        <img src="{{getImg image}}" class="center-block img-responsive" style="width:400px; height:350px ">
		    </div><br>
		     <div class="left">
		       <p class="cetner-block p-pad">{{{content}}}</p>
		    </div>
	   	 </div>
	</div>
	<hr class="under-p-pad">

	<div class="clearfix"></div>
				<div class="mode-lips" style="background-color: #ebebea; overflow:hidden;">
					<div class="lips-box">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						    <div class="row h1-pad" style="margin-left:15px;">
						 
							<h1>ARTICLE ABOUT {{title}}</h1>
							
						</div>
							<div class="on-lips">
								<div class="col-md-6 col-lg-6">
								   <img src="{{getImg image}}" class="img-responsive space-img" style="width:300px; height:200px ">
								</div>
								<div class="col-md-6 col-lg-6">
									<div class="text-artical space-text">
									 	<h2 class="bold">{{title}}</h2>
									 	<p class="space-arctical bold">{{{content}}}</p>
									</div> 
								</div>
							</div>
						</div>
					</div>
				</div>	
			<div class="clearfix"></div>
			<br>
			<section class="shadow_bottom" id="produst_listing">
  <div class="container">
    <div class="row">
      <h1 class="content-text-review">{{_ "REVIEWS & FEEDBACKS"}}</h1>
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="hold_btn_filter_view">
          <div class="pull-right">
            <button class="btn btn-filter-view" type="button" id="input">
              <i class="fa fa-search"></i> {{_ "FILTER REVIEWS"}}</button>  
            </div>
          </div>
        </div>
        <div class="col-md-12">
          
          {{#if currentUser}}
          {{>addreview}}
          {{/if}}
          {{#each getReviews review filterReview removeFilter}}
          {{>review}}
          {{else}}
          <i>No reviews</i>
          {{/each}}

          <div class="pull-right">
              <h3 id="show1">{{_ "MORE REVIEWS"}} &nbsp; <i class="fa fa-angle-down" id="morereview"></i></h3>   
          </div>
          <div class="wrapper_forum">
            <div class="filter_set">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
		<div class="clearfix"></div>
				<div class="forum-lips" style="background-color: #ebebea; overflow:hidden;">
					<div class="lips-box">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						    <div class="row h1-pad" style="margin-left:15px;">
							<h1>RELATED PRODUCTS</h1>
						</div>
						<br>
							<div class="on-lips">
								<div class="row"> 



								<div class="swiper-container">
								<div class="swiper-wrapper">

								{{#each related_product category}}
								<div class="swiper-slide" style="padding:40px;">
								  <div class="col-md-3">
								    <a href="{{pathFor 'details' id=_id}}"><img style="border:8px solid #000" src="{{getImg image}}" class="img-circle center-block" alt="Cinque Terre" width="150" height="150" ></a>
									<p class="rel-title"><a href="{{pathFor 'details' id=_id}}">{{title}}</a></p>
									<h3 class="text-center" style="font-weight:bold;font-size:1em;">{{price}}</h3>
								  
								  </div>
								  </div>
								 {{/each}}

								</div>

							</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
					</div>
							</div>
<!-- Add Pagination -->
<!-- <div class="swiper-pagination"></div> -->
<!-- Add Arrows -->

						</div>
					</div>
				</div>
</div>
</section>
<script>
var swiper = new Swiper('.swiper-container', {
pagination: '.swiper-pagination',
paginationClickable: true,
nextButton: '.swiper-button-next',
prevButton: '.swiper-button-prev',
spaceBetween: 30,
autoplay:5000
});
</script>
</template>