
<template name="listproducts">
    <style type="text/css">
        .hidelike{
            display: none;
        }
    </style>
        <div class="container">
            <div class="row" style="padding-left:15px;padding-right:15px;">
                <div class="swiper-container">
                   
                        {{#each products}} 
                         
                        <div class="swiper-slide" style="padding:40px;">
                            <div class="thumbnail" >
                                <a href="{{pathFor 'details' id=_id}}" class="title"><img data-holder-rendered="true" src="{{getImg image}}" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> </a>
                          
                                <div> 
                                    <p class="text-center text-selling-detail"><a  href="{{pathFor 'details' id=_id}}" class="title">{{title}}</a></p> 
                                    <h3 class="text-center price-selling"><a href="{{pathFor 'details' id=_id}}" class="title">{{price}} </a>
                                        <a href="#" id="unlike">
                                            <span id="unlike{{_id}}" class="fa fa-heart" aria-hidden="true"></span>
                                        </a>
                                        <a href="#" id="like" style="color:red;">
                                            <span id="like{{_id}}" class="fa fa-heart hidelike" aria-hidden="true"></span>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        {{#if products}}
                      {{/if}}
                      {{else}}
                      <h4 class="center">{{_"No Product Found"}}</h4>
                       {{/each}}  
                      


                    </div>
                    <!-- Add Pagination -->
                    <!-- <div class="swiper-pagination"></div> -->
                    <!-- Add Arrows -->
                </div>
                
            </div>
        

</template>