<template name="manageproduct">
    <div id="wrapper">
    
      
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
					
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           {{_"Manage Products"}}
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> {{_"Dashboard"}}
                            </li>
                        </ol>
                    </div>
					
					<div class="col-xs-12 col-sm-6 col-md-12">
						<a href="/addproduct"><button class="btn btn-primary">{{_"Add New"}}</button></a>
						
						<br>
						<br>
						<div class="table-responsivee">
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="text-center" style="width:35%">{{_"Title"}}</th>
										<th class="text-center" style="width:10%">{{_"Price"}}</th>
										<th class="text-center" style="width:10%">{{_"Point"}}</th>
										<th class="text-center" style="width:15%">{{_"Attribute image"}}</th>
										<th class="text-center" style="width:15%">{{_"Image"}}</th>

										<th class="text-center" style="width:15%">{{_"Category"}}</th>
										<th class="text-center" style="width:15%" colspan="4">{{_"Tools"}}</th>
									</tr>
								</thead>
								<tbody>
								
									{{#each managePro}}
									<tr>
										<td>{{title}}</td>
										<td>{{price}}</td>
										<td>{{point}}</td>
										<td>
											{{#each getImgeAttribute oldId}}
											<img style="width:50px; height:50px" src="{{getImg productImage}}">
											{{/each}}
										</td>
										
										<td><img style="width:50px; height:50px" src="{{getImg image}}"></td>
										<td>{{catName category}}</td>
										{{#if checkStatus status}}
										<td><a class="glyphicon glyphicon-ok center-block" href="" id="publish"></a></td>
										{{else}}
										<td><a class="glyphicon glyphicon-remove center-block" href="" id="unpublish"></a></td>
										{{/if}}
										<td><a class="glyphicon glyphicon-eye-open center-block" href="" id="view"></a></td>
										<td><a class="glyphicon glyphicon-trash center-block" href="" id="remove"></a></td>
										<td><a class="glyphicon glyphicon-edit center-block" href="updateproduct/{{_id}}"></a></td>
									</tr>
									{{/each}}
								</tbody>
							</table>
<br />

							
						</div>
					</div>
                </div>
            </div>
            <!-- /.container-fluid -->
   
    </div>
    <!-- /#wrapper -->
</template>